{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "esmodules": true
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "transform-builtin-extend",
      {
        "globals": ["Error", "Array"]
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "displayName": true,
        "fileName": false,
        "pure": true,
        "ssr": false
      }
    ]
  ]
}
