body {
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: #fff;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}

/* overwrite */

.rc-menu-item a {
  text-decoration: none;
  color: white;
}

.menu-item-title a {
  text-decoration: none;
  color: inherit;
}

.main-content h1,
.main-content h2 {
  position: relative;
  padding-left: 24px;
  border-left: 3px solid #0052d9;
  margin: 24px 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}

.main-content ol,
.main-content ul {
  margin-bottom: 24px;
  counter-reset: item;
  padding-left: 28px;
}

.main-content ul li,
.main-content ol li {
  margin-bottom: 10px;
  display: flex;
  position: relative;
  font-size: 15px;
}

.main-content ul li a {
  color: #0052d9 !important;
}

.main-content ol > div {
  padding-left: 16px;
  margin-bottom: 10px;
}

.main-content ul li::before {
  content: "";
  position: relative;
  display: block;
  min-width: 8px;
  width: 8px;
  height: 8px;
  margin-top: 7.8px;
  margin-right: 12px;
  background-color: #0052d9;
  border-radius: 50%;
  line-height: 1;
}

.main-content ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  display: block;
  min-width: 1rem;
  color: #0052d9;
  top: 0;
}

@keyframes loading {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.34, 1.34);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.loading div > div {
  position: absolute;
  width: 7.88px;
  height: 7.88px;
  border-radius: 50%;
  background: #0052d9;
  animation: loading 1s linear infinite;
}
.loading div:nth-child(1) > div {
  left: 114.5px;
  top: 94.5px;
  animation-delay: -0.875s;
}
.loading > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 118.44px 98.44px;
}
.loading div:nth-child(2) > div {
  left: 108.5px;
  top: 108.5px;
  animation-delay: -0.75s;
}
.loading > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 112.44px 112.44px;
}
.loading div:nth-child(3) > div {
  left: 94.5px;
  top: 114.5px;
  animation-delay: -0.625s;
}
.loading > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 98.44px 118.44px;
}
.loading div:nth-child(4) > div {
  left: 80.5px;
  top: 108.5px;
  animation-delay: -0.5s;
}
.loading > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 84.44px 112.44px;
}
.loading div:nth-child(5) > div {
  left: 74.5px;
  top: 94.5px;
  animation-delay: -0.375s;
}
.loading > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 78.44px 98.44px;
}
.loading div:nth-child(6) > div {
  left: 80.5px;
  top: 80.5px;
  animation-delay: -0.25s;
}
.loading > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 84.44px 84.44px;
}
.loading div:nth-child(7) > div {
  left: 94.5px;
  top: 74.5px;
  animation-delay: -0.125s;
}
.loading > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 98.44px 78.44px;
}
.loading div:nth-child(8) > div {
  left: 108.5px;
  top: 80.5px;
  animation-delay: 0s;
}
.loading > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 112.44px 84.44px;
}
.loadingio-spinner-spin-65ki34ba6lg {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.loading div {
  box-sizing: content-box;
}

/* 
** container
*/
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* 
** color
*/
.color-1 {
  color: #e6f4ff;
}
.color-bg-1 {
  background-color: #e6f4ff;
}

.color-2 {
  color: #a3d3ff;
}
.color-bg-2 {
  background-color: #a3d3ff;
}

.color-3 {
  color: #7abaff;
}
.color-bg-3 {
  background-color: #7abaff;
}

.color-4 {
  color: #4e98f2;
}
.color-bg-4 {
  background-color: #4e98f2;
}

.color-5 {
  color: #2575e6;
}
.color-bg-5 {
  background-color: #2575e6;
}

.color-6 {
  color: #0052d9;
}
.color-bg-6 {
  background-color: #0052d9;
}

.color-7 {
  color: #003eb3;
}
.color-bg-7 {
  background-color: #003eb3;
}

.color-8 {
  color: #002c8c;
}
.color-bg-8 {
  background-color: #002c8c;
}

.color-9 {
  color: #001d66;
}
.color-bg-9 {
  background-color: #001d66;
}

.color-10 {
  color: #001040;
}
.color-bg-10 {
  background-color: #001040;
}

.color-success {
  color: #52c41a;
}
.color-bg-success {
  background-color: #52c41a;
}

.color-warning {
  color: #fa8c16;
}
.color-bg-warning {
  background-color: #fa8c16;
}

.color-error {
  color: #f5222d;
}
.color-bg-error {
  background-color: #f5222d;
}

.color-white {
  color: white;
}
.color-bg-white {
  background-color: white;
}

.color-black {
  color: rgba(0, 0, 0, 1);
}
.color-black-1 {
  color: rgba(0, 0, 0, 0.85);
}
.color-black-2 {
  color: rgba(0, 0, 0, 0.65);
}
.color-black-3 {
  color: rgba(0, 0, 0, 0.45);
}
.color-black-4 {
  color: rgba(0, 0, 0, 0.25);
}
.color-black-5 {
  color: rgba(0, 0, 0, 0.15);
}
.color-black-6 {
  color: rgba(0, 0, 0, 0.06);
}
.color-black-7 {
  color: rgba(0, 0, 0, 0.04);
}
.color-black-8 {
  color: rgba(0, 0, 0, 0.02);
}

.color-white-1 {
  color: rgba(255, 255, 255, 0.85);
}

.color-white-2 {
  color: rgba(255, 255, 255, 0.65);
}

.color-white-3 {
  color: rgba(255, 255, 255, 0.45);
}

.color-white-4 {
  color: rgba(255, 255, 255, 0.3);
}
.color-white-5 {
  color: rgba(255, 255, 255, 0.2);
}
.color-white-6 {
  color: rgba(255, 255, 255, 0.12);
}
.color-white-7 {
  color: rgba(255, 255, 255, 0.08);
}
.color-white-8 {
  color: rgba(255, 255, 255, 0.04);
}

/* 
** space
*/
.m-8 {
  margin: 8px;
}
.m-l-8 {
  margin-left: 8px;
}
.m-r-8 {
  margin-right: 8px;
}
.m-t-8 {
  margin-top: 8px;
}
.m-b-8 {
  margin-bottom: 8px;
}

.m-16 {
  margin: 16px;
}
.m-l-16 {
  margin-left: 16px;
}
.m-r-16 {
  margin-right: 16px;
}
.m-t-16 {
  margin-top: 16px;
}
.m-b-16 {
  margin-bottom: 16px;
}

.m-24 {
  margin: 24px;
}
.m-l-24 {
  margin-left: 24px;
}
.m-r-24 {
  margin-right: 24px;
}
.m-t-24 {
  margin-top: 24px;
}
.m-b-24 {
  margin-bottom: 24px;
}

.m-32 {
  margin: 32px;
}
.m-l-32 {
  margin-left: 32px;
}
.m-r-32 {
  margin-right: 32px;
}
.m-t-32 {
  margin-top: 32px;
}
.m-b-32 {
  margin-bottom: 32px;
}

.m-40 {
  margin: 40px;
}
.m-l-40 {
  margin-left: 40px;
}
.m-r-40 {
  margin-right: 40px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-b-40 {
  margin-bottom: 40px;
}

.p-8 {
  padding: 8px;
}
.p-l-8 {
  padding-left: 8px;
}
.p-r-8 {
  padding-right: 8px;
}
.p-t-8 {
  padding-top: 8px;
}
.p-b-8 {
  padding-bottom: 8px;
}

.p-16 {
  padding: 16px;
}
.p-l-16 {
  padding-left: 16px;
}
.p-r-16 {
  padding-right: 16px;
}
.p-t-16 {
  padding-top: 16px;
}
.p-b-16 {
  padding-bottom: 16px;
}

.p-24 {
  padding: 24px;
}
.p-l-24 {
  padding-left: 24px;
}
.p-r-24 {
  padding-right: 24px;
}
.p-t-24 {
  padding-top: 24px;
}
.p-b-24 {
  padding-bottom: 24px;
}

.p-32 {
  padding: 32px;
}
.p-l-32 {
  padding-left: 32px;
}
.p-r-32 {
  padding-right: 32px;
}
.p-t-32 {
  padding-top: 32px;
}
.p-b-32 {
  padding-bottom: 32px;
}

.p-40 {
  padding: 40px;
}
.p-l-40 {
  padding-left: 40px;
}
.p-r-40 {
  padding-right: 40px;
}
.p-t-40 {
  padding-top: 40px;
}
.p-b-40 {
  padding-bottom: 40px;
}

/* 
** font
*/
.f-w-400 {
  font-weight: 400;
}
.f-w-500 {
  font-weight: 500;
}
.f-w-600 {
  font-weight: 600;
}

.f-w-bold {
  font-weight: bold;
}

.f-12 {
  font-size: 12px;
  line-height: 20px;
}
.f-14 {
  font-size: 14px;
  line-height: 22px;
}
.f-16 {
  font-size: 16px;
  line-height: 24px;
}

.f-18 {
  font-size: 18px;
  line-height: 26px;
}
.f-20 {
  font-size: 20px;
  line-height: 28px;
}
.f-24 {
  font-size: 24px;
  line-height: 32px;
}
.f-30 {
  font-size: 30px;
  line-height: 38px;
}
.f-38 {
  font-size: 38px;
  line-height: 46px;
}
.f-46 {
  font-size: 46px;
  line-height: 54px;
}
.f-56 {
  font-size: 56px;
  line-height: 64px;
}
.f-68 {
  font-size: 68px;
  line-height: 76px;
}
.f-80 {
  font-size: 80px;
  line-height: 88px;
}

h1 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 500;
  margin: 0 0 24px 0;
}
h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin: 0 0 24px 0;
}
h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  margin: 0 0 24px 0;
}
h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 0 0 24px 0;
}

p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 0 24px 0;
}

.border {
  border: 1px solid #f0f0f0;
}
.border-t {
  border-top: 1px solid #f0f0f0;
}
.border-b {
  border-bottom: 1px solid #f0f0f0;
}
.border-l {
  border-left: 1px solid #f0f0f0;
}
.border-r {
  border-right: 1px solid #f0f0f0;
}

/*
* button
*/
.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 8px 32px;
  font-size: 14px;
  line-height: 22px;
  border: 2px solid;
  font-weight: 500;
  letter-spacing: 0.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: 250ms all ease-in-out;
  text-transform: uppercase;
}

.button-primary {
  background: #0052d9;
  border-color: #0052d9;
  color: white;
}

.button-white {
  background: white;
  border-color: white;
  color: white;
}

.button-primary:hover {
  color: white;
  background-color: #2575e6;
  border-color: #2575e6;
}
.button-xl {
  padding: 24px 80px;
  font-size: 18px;
  line-height: 26px;
}

.button-lg {
  padding: 16px 56px;
  font-size: 16px;
  line-height: 24px;
}

.button-sm {
  padding: 4px 16px;
  font-size: 12px;
  line-height: 20px;
}

.header-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.vertical-space-64 {
  height: 64px;
}

.vertical-space-24 {
  height: 24px;
}

/** 顶部导航的下拉样式，因为顶部导航的下拉是在body下面，所以只能在全局配置样式 */

/* submneu pop item hover 样式*/
.header-menu-popup .rc-menu-item-active {
  background: #2575e6 !important;
  color: white !important;
}

/* sub menu  下拉样式 */
.header-menu-popup .rc-menu-sub {
  background: #2c3640;
}

.header-menu-popup .rc-menu {
  border: 0;
  box-shadow: none;
}

.header-menu-popup .rc-menu-sub .rc-menu-item {
  background: #2c3640;
  color: white;
}

/** 底部样式 */
.footer-color-bg-1 {
  background-color: rgb(50, 60, 71);
}

.footer-color-bg-2 {
  background-color: rgb(46, 55, 65);
}

.footer-color {
  color: rgb(106, 118, 136);
}

.footer-link {
  text-decoration: none;
}

/** Bread Crumb导航 menu 样式*/

.bread-crumb-dropdown > .rc-dropdown-menu > .rc-dropdown-menu-item {
  font-size: 16px;
  padding: 10px 14px;
}

.bread-crumb-dropdown
  > .rc-dropdown-menu
  > .rc-dropdown-menu-item
  > .menu-item-title {
  cursor: default;
}
